@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'GT Walsheim Pro', -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  background: #ffffff;
  -webkit-tap-highlight-color: none !important;
  -webkit-tap-highlight-color: transparent !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.menu-btn {
  z-index: 9999 !important ;
  transition: all 500ms ease-out 0s;
}

.close-btn {
  position: absolute;
  z-index: 2;
  right: 0px;
  top: 35px;
  height: 50px;
  width: 50px;
  text-align: center;
  display: block !important;
  cursor: pointer;
}

@media (max-width: 992px) {
  .close-btn {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .close-btn {
    display: none !important;
  }

  /* .test.grid{
    direction: rtl;
    grid-auto-flow: dense;

  } */
}
@media (max-width: 568px) {
  .close-btn {
    display: none !important;
  }
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: #000;
  /* opacity: 0.9; */
  z-index: 999;
  transition: all 0.4s ease-out 0s;
  /* display: none; */
  /* opacity: 0; */
}

.wrapper.show {
  width: 100%;
  transition: all 0.4s ease-out 0s;
  overflow: hidden;
  /* display: block; */
  /* opacity: 1; */
}

.wrapper ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  opacity: 0;
}

.wrapper.show ul {
  opacity: 1;
}

.wrapper ul li {
  color: #ffffff;
  margin: 15px 0;
}
.wrapper ul li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  padding: 5px 30px;
  position: relative;
  line-height: 50px;
  transition: all 0.3s ease;
}

@-webkit-keyframes slideInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}
.header {
  transition: all 500ms ease-in-out;
}

.header.is-sticky .header-bar {
  height: 90px;
}

.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 2px 24px 0 rgb(0 0 0 /15%);
  background: rgba(0, 0, 0, 1);
  transition: all 500ms ease-in-out;
  /* animation: 500ms ease-in-out 0s normal none 1 running slideInDown; */
  padding-top: 0px;
  padding-bottom: 0px;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.imgCard {
  position: relative;
  /* width: 400px; */
  /* max-width: 400px; */
  /* flex: 1; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  /* padding: 100%; */
}

.imgCard img {
  /* padding-right: 50px; */
  height: auto;
  max-width: 500px;
  width: auto;
  object-fit: cover;

  /* padding: 100%; */
}

.right-card .imgCard {
  justify-content: flex-end;
}

.left-card .imgCard {
  justify-content: flex-start;
}

@media only screen and (max-width: 767px) {
  .right-card .imgCard {
    justify-content: center;

  }

  .imgCard img {
    /* padding-right: 50px; */
    height: auto;
    max-width: 500px;
    width: 100%;
    object-fit: cover;
  
    /* padding: 100%; */
  }
  
  .left-card .imgCard {
    justify-content: center;
  }
}



.right-card {
  -webkit-box-flex: 0;
  flex: 0 0 50%;
  max-width: 50%;
}

.left-card {
  -webkit-box-flex: 0;
  flex: 0 0 50%;
  max-width: 50%;
}

@media only screen and (max-width: 992px) {
  .right-card {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .left-card {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .right-card {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .left-card {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
