.page_section {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 80px;
  padding-left: 80px;
  background: #ffffff;
}

@media only screen and (max-width: 992px) {
  .imgCard img {
    width: 100%;
    height: 300px;
    /* padding: 100%; */
  }

  .heading_title {
    font-size: 24px;
  }

  .page_section {
    padding-right: 20px;
    padding-left: 20px;
  }

  .imgCard img {
    padding-left: 0px;
    padding-right: 0px;

  
  }
}



@media only screen and (max-width: 767px) {
  .page_section {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .text_grid{
    text-align: left;
    padding-left: 0px !important;
  }
  
}

@media only screen and (max-width: 568px) {
  .imgCard img {
    height: 100% !important;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;

  
    /* padding: 100%; */
  }
}


.heading_title {
  font-size: 35px;
  color: #000000;
  margin-bottom: 20px;
}

.text_grid {
  text-align: left;
  padding-left: 100px;
}

.imgCard {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* flex: 1; */
  /* height: 500px !important; */
  /* padding: 100%; */
}

.imgCard span{
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* flex: 1; */
  height: 500px !important;
  /* padding: 100%; */
}


.imgCard img {
  height: 100%;
  padding-right: 50px;
  /* padding-left: 50px; */
  display: flex !important;
  align-items: center;
  justify-content: flex-start;

  /* padding: 100%; */
}


.learn_more{
  padding-bottom: 0.75rem; /* 12px */
  margin-top: 0.5rem; /* 8px */
  margin-bottom: 0.5rem; /* 8px */
  display: flex;
  align-items: center;
  width: auto;
  position: relative;
}

.learn_more:hover .fa-right-long{
  margin-left: 200px !important;
}

