
.page_section {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 80px;
  padding-left: 80px;
  background: #ffffff;
}

@media only screen and (max-width: 992px) {
  .page_section {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .page_section {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .text_grid {
    text-align: left;
    padding-left: 0px !important;
  }
}

.heading_title {
  font-size: 35px;
  color: #000000;
  margin-bottom: 20px;
}

.imgCard {
  position: relative;
  width: 100%;
  flex: 1;
  height: 400px !important;
  /* padding: 100%; */
}

.imgCard img {
  padding-right: 50px;

  /* padding: 100%; */
}


.country_logo {
  position: relative;
}
.country_logo ul li {
  margin-right: 10px;
  padding-right: 10px;
  border-radius: 10px;
}
.country_logo ul li img {
  border-radius: 5px;
}
