.heading_title {
    font-size: 35px;
    color: #000000;
    margin-bottom: 20px;
  }
  
  .imgCard {
    position: relative;
    width: 100%;
    flex: 1;
    height: 400px !important;
    /* padding: 100%; */
  }
  
  .imgCard img {
    padding-right: 50px;
  
    /* padding: 100%; */
  }

  .country_logo{
      position: relative;
      
  }
  .country_logo ul li{
    margin-right: 10px;
    padding-right: 10px;
    border-radius: 10px;
  }
  .country_logo ul li img{
    border-radius: 5px;
  }
  